.project{
    width: 100%;
    margin-top: 5rem;
    background: #1D4734;
}


.project-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 10rem 5rem 10rem;
}

.project-text .left .head{
    display: flex;
    align-items: center;
    font-weight: 200;
}

.project-text .left .head img{
    margin-right: 1rem;
}

.project-text .left .head h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.project-text .right{
    width: 30%;
}