.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 850px;
    height: 350px;
    clip-path: polygon(7% 1, 93% 0, 100% 100%, 0% 100%);
    border-radius: 15rem 15rem 5rem 5rem;
  }

  .imagebtn{
    padding: 2rem;
    cursor: pointer;
  }

  .imagebtn .left-arrow{
    margin-right: 2rem;
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  