.player{
    display: flex;
    justify-content: center;
    position: relative;
}

.react-player{
    border-radius: 10rem;
    overflow: hidden;
    cursor: pointer;
    z-index: -1;
}

.playerbg{
    position: absolute;
    top: 10%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(18, 18, 18, 0.5));
    width: 40%;
    height: 40vh;
    border-radius: 15rem;
    z-index: -2;
}

.playerText{
    text-align: center;
    margin-top: -2rem;
    z-index: 5;
    color: #fff;
    font-size: 3rem;
    font-weight: 200;
}
