@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    color: #fff;
}

body{
    background-color: #000;
}

:root{
    --primaryColor: #1D4734;
    --secondaryColor : #E09B6B;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Lato', sans-serif;
}

li a{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}


