@import url('https://fonts.cdnfonts.com/css/sofia-pro');
@import url('https://fonts.cdnfonts.com/css/satoshi');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    color: #fff;
}

body{
    background-color: #000;
}

:root{
    --primaryColor: #1D4734;
    --secondaryColor : #E09B6B;
}

h1, h2, h3{
    font-family: 'Satoshi', sans-serif;
}

p{
    font-family: 'Sofia Pro', sans-serif;
}

li a{
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
}


